<h1> Checkpoint:</h1>

**Looking to see completetion and effort in completing the checkpoint. It's okay if it's not correct**

Based off this dataset with school financial, enrollment, and achievement data, we are interested in what information is a useful indicator of student performance at the state level.

This question is a bit too big for a checkpoint, however. Instead, we want you to look at smaller questions related to our overall goal. Here's the overview:

1. Choose a specific test to focus on
>Math/Reading for 4/8 grade
* Pick or create features to use
>Will all the features be useful in predicting test score? Are some more important than others? Should you standardize, bin, or scale the data?
* Explore the data as it relates to that test
>Create 2 well-labeled visualizations (graphs), each with a caption describing the graph and what it tells us about the data
* Create training and testing data
>Do you want to train on all the data? Only data from the last 10 years? Only Michigan data?
* Train a ML model to predict outcome 
>Pick if you want to do a regression or classification task. For both cases, defined _exactly_ what you want to predict, and pick any model in sklearn to use (see sklearn <a href="https://scikit-learn.org/stable/modules/linear_model.html">regressors</a> and <a href="https://scikit-learn.org/stable/auto_examples/classification/plot_classifier_comparison.html">classifiers</a>).
* Summarize your findings
>Write a 1 paragraph summary of what you did and make a recommendation about if and how student performance can be predicted

** Include comments throughout your code! Every cleanup and preprocessing task should be documented.


Of course, if you're finding this assignment interesting (and we really hope you do!), you are welcome to do more than the requirements! For example, you may want to see if expenditure affects 4th graders more than 8th graders. Maybe you want to look into the extended version of this dataset and see how factors like sex and race are involved. You can include all your work in this notebook when you turn it in -- just always make sure you explain what you did and interpret your results. Good luck!

<h2> Data Cleanup </h2>

Import numpy, pandas, matplotlib, and seaborn

(Feel free to import other libraries!)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn

Load in the "states_edu.csv" dataset and take a look at the head of the data

In [2]:
statesEduData = pd.read_csv('../data/states_edu.csv')
statesEduData.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN

You should always familiarize yourself with what each column in the dataframe represents. \ Read about the states_edu dataset here: https://www.kaggle.com/noriuk/us-education-datasets-unification-project

Use this space to rename columns, deal with missing data, etc. _(optional)_

In [3]:
# Dropping the missing elements
statesEduData = statesEduData.dropna()
statesEduData.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
561,2003_ALABAMA,ALABAMA,2003,727900.0,5196054.0,567704.0,2966981.0,1661369.0,5298932.0,2817111.0,...,57323.0,59663.0,42005.0,466920.0,205907.0,731220.0,223.0,262.0,207.0,253.0
562,2003_ALASKA,ALASKA,2003,133303.0,1425948.0,259423.0,813371.0,353154.0,1610289.0,763525.0,...,10115.0,11140.0,8651.0,82337.0,40238.0,133933.0,233.0,279.0,212.0,256.0
563,2003_ARIZONA,ARIZONA,2003,875111.0,6529894.0,740579.0,2912629.0,2876686.0,6210287.0,2810907.0,...,76207.0,76376.0,68815.0,613442.0,307272.0,1012068.0,229.0,271.0,209.0,255.0
564,2003_ARKANSAS,ARKANSAS,2003,450158.0,3241275.0,379947.0,2394336.0,466992.0,3242799.0,1768713.0,...,34070.0,37004.0,28840.0,281834.0,132712.0,454523.0,229.0,266.0,214.0,258.0
565,2003_CALIFORNIA,CALIFORNIA,2003,6226552.0,59815855.0,5795655.0,33617766.0,20402434.0,59749885.0,29561563.0,...,493415.0,500143.0,395194.0,3929869.0,1854518.0,6413867.0,227.0,267.0,206.0,251.0

In [4]:
# Renaming Columns
statesEduData.rename({
    'GRADES_PK_G':'ENROLL_PREK',
    'GRADES_KG_G':'ENROLL_KINDER',
    'GRADES_4_G':'ENROLL_4',
    'GRADES_8_G':'ENROLL_8',
    'GRADES_12_G':'ENROLL_12',
    'GRADES_1_8_G':'ENROLL_PRIMARY',
    'GRADES_9_12_G':'ENROLL_HS',
    'GRADES_ALL_G':'ENROLL_ALL',
    'ENROLL':'ENROLL_ALL_EST'
    },
    axis=1,inplace=True)

<h2>Exploratory Data Analysis (EDA) </h2>

Chosen Predictor for Test: **AVG_MATH_4_SCORE**   (Ex. Math for 8th grade)

**(hit `Enter` to edit)**

Predictor Score in the questions refers to the predictor variable you chose here.

How many different years of data are in our dataset? Use a pandas function.

In [5]:
print('Different years in the dataset')
unique_years = statesEduData['YEAR'].unique()
for year in unique_years:
    print(year)
print('Number of unique years in the dataset')
print(len(unique_years))

Different years in the dataset
2003
2005
2007
2009
2011
2013
2015
Number of unique years in the dataset
7

Let's compare Michigan to Ohio. Which state has the higher average predictor score across all years?

In [7]:
avg_predictor_scores = statesEduData.groupby(['STATE'])['AVG_MATH_4_SCORE'].mean().to_frame('Avg Predictor Score')
print(avg_predictor_scores.loc['MICHIGAN'])
print(avg_predictor_scores.loc['OHIO'])

Avg Predictor Score    236.714286
Name: MICHIGAN, dtype: float64
Avg Predictor Score    243.285714
Name: OHIO, dtype: float64

In [8]:
# OHIO HAS THE HIGHER AVERAGE PREDICTOR SCORE

Find the average for your pedictor score across all states in 2019

In [48]:
df = statesEduData.groupby(['STATE','YEAR'])['AVG_MATH_4_SCORE'].mean().to_frame('Max Avg Predictor Score')
df.xs(2009,level='YEAR')

                      Max Avg Predictor Score
STATE
ALABAMA                                 228.0
ALASKA                                  237.0
ARIZONA                                 230.0
ARKANSAS                                238.0
CALIFORNIA                              232.0
COLORADO                                243.0
CONNECTICUT                             245.0
DELAWARE                                239.0
DISTRICT_OF_COLUMBIA                    219.0
FLORIDA                                 242.0
GEORGIA                                 236.0
HAWAII                                  236.0
IDAHO                                   241.0
ILLINOIS                                238.0
INDIANA                                 243.0
IOWA                                    243.0
KANSAS                                  245.0
KENTUCKY                                239.0
LOUISIANA                               229.0
MAINE                                   244.0
MARYLAND                                244.0
MASSACHUSETTS                           252.0
MICHIGAN                                236.0
MINNESOTA                               249.0
MISSISSIPPI                             227.0
MISSOURI                                241.0
MONTANA                                 244.0
NEBRASKA                                239.0
NEVADA                                  235.0
NEW_HAMPSHIRE                           251.0
NEW_JERSEY                              247.0
NEW_MEXICO                              230.0
NEW_YORK                                241.0
NORTH_CAROLINA                          244.0
NORTH_DAKOTA                            245.0
OHIO                                    244.0
OKLAHOMA                                237.0
OREGON                                  238.0
PENNSYLVANIA                            244.0
RHODE_ISLAND                            239.0
SOUTH_CAROLINA                          236.0
SOUTH_DAKOTA                            242.0
TENNESSEE                               232.0
TEXAS                                   240.0
UTAH                                    240.0
VERMONT                                 248.0
VIRGINIA                                243.0
WASHINGTON                              242.0
WEST_VIRGINIA                           233.0
WISCONSIN                               244.0
WYOMING                                 242.0

Find the maximum predictor score for every state. Hint: there's a function that allows you to do this easily

In [10]:
max_predictor_scores = statesEduData.groupby(['STATE'])['AVG_MATH_4_SCORE'].max().to_frame('Max Predictor Score')
max_predictor_scores

<h2> Feature Selection </h2>

After exploring the data, you now have to choose features that you would use to predict the performance of the students on a chosen test (your chosen predictor). By the way, you can also create your own features. For example, perhaps you figured that maybe a state's expenditure per student may affect their overall academic performance so you create a expenditure_per_student feature.

Use this space to modify or create features

In [11]:
statesEduData= statesEduData.drop('TOTAL_REVENUE', 1)
statesEduData = statesEduData.drop('TOTAL_EXPENDITURE', 1)

Final feature list: **['PRIMARY_KEY', 'STATE', 'YEAR', 'ENROLL_ALL_EST', 'FEDERAL_REVENUE',
       'STATE_REVENUE', 'LOCAL_REVENUE', 'INSTRUCTION_EXPENDITURE',
       'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE',
       'CAPITAL_OUTLAY_EXPENDITURE', 'ENROLL_PREK', 'ENROLL_KINDER',
       'ENROLL_4', 'ENROLL_8', 'ENROLL_12', 'ENROLL_PRIMARY', 'ENROLL_HS',
       'ENROLL_ALL', 'AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE',
       'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE']**

Feature selection justification: **Dropped the total revenue and total expenditure values. These two values are basically the sum of the all the other revenue columns and all the other expenditure columns and hence are just redundant data.**

<h2>Visualization</h2>

Use any graph you wish to see the relationship of your chosen predictor with any features you chose

**Visualization 1**

In [12]:
statesEduData.plot.scatter(y='AVG_MATH_4_SCORE',x='AVG_READING_4_SCORE')

**Scatter Plot of AVG_MATH_4_SCORE against AVG_READING_4_SCORE**

**Visualization 2**

In [13]:
plt.plot(statesEduData['AVG_READING_4_SCORE'],statesEduData['AVG_MATH_4_SCORE'])
plt.show()

**Line Plot of AVG_MATH_4_SCORE against AVG_READING_4_SCORE**

<h2> Data Creation </h2>

_Use this space to create train/test data_

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X = statesEduData['AVG_READING_4_SCORE'].to_frame('AVG_READING_4_SCORE')
y = statesEduData['AVG_MATH_4_SCORE']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.3, random_state=0)

<h2> Prediction </h2>

ML Models Resource: https://medium.com/@vijaya.beeravalli/comparison-of-machine-learning-classification-models-for-credit-card-default-data-c3cf805c9a5a

Chosen ML task: **REGRESSION**

In [17]:
# import your sklearn class here
from sklearn.linear_model import LinearRegression

In [18]:
# create your model here
model = LinearRegression()

In [19]:
model.fit(X_train, y_train)

In [20]:
y_pred = model.predict(X_test)

In [21]:
# FOR CLASSIFICATION ONLY:
# from sklearn.metrics import plot_confusion_matrix

# plot_confusion_matrix(model, X_test, y_test,
#                          cmap=plt.cm.Blues)

In [22]:
# FOR REGRESSION ONLY: (pick a single column to visualize results)

# Results from this graph _should not_ be used as a part of your results -- it is just here to help with intuition. 
# Instead, look at the error values and individual intercepts.


col_name = 'AVG_READING_4_SCORE'
col_index = X_train.columns.get_loc(col_name)

f = plt.figure(figsize=(12,6))
plt.scatter(X_train[col_name], y_train, color = "red")
plt.scatter(X_train[col_name], model.predict(X_train), color = "green")
plt.scatter(X_test[col_name], model.predict(X_test), color = "blue")

new_x = np.linspace(X_train[col_name].min(),X_train[col_name].max(),200)
intercept = model.predict([X_train.sort_values(col_name).iloc[0]]) - X_train[col_name].min()*model.coef_[col_index]
plt.plot(new_x, intercept+new_x*model.coef_[col_index])

plt.legend(['controlled model','true training','predicted training','predicted testing'])
plt.xlabel(col_name)
plt.ylabel('AVG_MATH_4_SCORE')

<h2> Summary </h2>

In [23]:
print('R-squared score (training): {:.3f}'
     .format(model.score(X_train, y_train)))
print('R-squared score (test): {:.3f}'
     .format(model.score(X_test, y_test)))

**The scatter plot displayed a linear association between the average reading and math scores in the tests by fourth grade students. Hence the decicion to go with a regression task of predicting the math scores from the reading scores and the accuracy is about 70 percent on the test set which means that there is a decent linear association between the two values and one can be predicted from the other. The trend observed here is that when one value increases, the other also increases.**